<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить отзыв</title>
    <!-- Подключаем стили Bootstrap (подставьте актуальные ссылки на файлы Bootstrap) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        form {
            max-width: 400px;
            margin: auto;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .btn {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<h1>Добавить отзыв</h1>

<form method="post" th:action="@{/review/add}" th:object="${review}">
    <div class="form-group">
        <label for="text">Текст:</label>
        <textarea id="text" name="text" class="form-control" th:field="*{text}"></textarea>
        <span th:if="${#fields.hasErrors('text')}" th:errors="*{text}" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="rating">Рейтинг:</label>
        <input type="number" id="rating" name="rating" class="form-control" th:field="*{rating}">
        <span th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="product">Продукты:</label>
        <select id="product" name="product.id" class="form-control" th:field="*{product.id}" required>
            <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name}"></option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>

<a href="/review" class="btn btn-danger">Вернуться к списку отзывов</a>
</body>
</html>
