<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список адресов</title>
    <!-- Подключаем стили Bootstrap (подставьте актуальные ссылки на файлы Bootstrap) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        table {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<h1>Список адресов</h1>

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Улица</th>
        <th scope="col">Город</th>
        <th scope="col">Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="address : ${addresses}">
        <th scope="row" th:text="${address.id}"></th>
        <td th:text="${address.street}"></td>
        <td th:text="${address.city}"></td>
        <td>
            <a th:href="@{/address/edit/{id}(id=${address.id})}" class="btn btn-primary">Редактировать</a>
            <a th:href="@{/address/delete/{id}(id=${address.id})}" class="btn btn-danger">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>

<a href="/address/add" class="btn btn-success">Добавить адрес</a>
<a href="/" class="btn btn-danger">Вернуться на домашнюю страницу</a>
</body>
</html>
