<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменение ролей</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 0;
        }

        h1 {
            font-size: 24px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        select {
            padding: 5px;
        }

        button {
            padding: 5px 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
<h1>Изменение ролей</h1>
<table>
    <thead>
    <tr>
        <th>Пользователь</th>
        <th>Роль</th>
        <th>Изменение</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td>
            <ul>
                <h5 th:each="role : ${user.roles}" th:text="${role}"></h5>
            </ul>
        </td>
        <td>
            <form method="post" th:action="@{/edit/{userId}/edit(userId=${user.ID_User})}">
                <select name="roles">
                    <option value="USER">Пользователь</option>
                    <option value="ADMIN">Администратор</option>
                    <option value="MANAGER">Менеджер</option>
                </select>
                <button type="submit">Изменить роль</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
