<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
  <!-- Подключаем стили Bootstrap (подставьте актуальные ссылки на файлы Bootstrap) -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Дополнительные стили для вашего приложения (при необходимости) -->
  <style>
    .registration-container {
      max-width: 400px;
      margin: auto;
      padding: 20px;
      margin-top: 50px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }

    .error-message {
      color: #721c24;
      background-color: #f8d7da;
      border: 1px solid #f5c6cb;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
<div class="registration-container">
  <h1 class="mb-4">Регистрация</h1>
  <div th:if="${message}" class="error-message">
    Пользователь уже существует
  </div>
  <form th:action="@{/registration}" method="post">
    <div class="form-group">
      <label for="username">Логин:</label>
      <input type="text" class="form-control" id="username" name="username"/>
    </div>
    <div class="form-group">
      <label for="password">Пароль:</label>
      <input type="password" class="form-control" id="password" name="password"/>
    </div>
    <div class="form-group">
      <label for="role">Роль:</label>
      <select class="form-control" id="role" name="role">
        <option th:each="role : ${T(com.example.itog.model.Role).values()}" th:value="${role}" th:text="${role}"></option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    <a href="/login" class="mt-2 d-block">Вернуться к авторизации</a>
  </form>
</div>

<!-- Подключаем скрипты Bootstrap (подставьте актуальные ссылки на файлы Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
