<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать платеж</title>
    <!-- Подключаем стили Bootstrap (подставьте актуальные ссылки на файлы Bootstrap) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        form {
            max-width: 400px;
            margin: auto;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .btn {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<h1>Редактировать платеж</h1>

<form method="post" th:object="${payment}">
    <input type="hidden" th:field="*{id}">
    <div class="form-group">
        <label for="amount">Сумма:</label>
        <input type="number" id="amount" name="amount" class="form-control" th:field="*{amount}">
        <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="paymentDate">Дата платежа:</label>
        <input type="date" id="paymentDate" name="paymentDate" class="form-control" th:field="*{paymentDate}">
        <span th:if="${#fields.hasErrors('paymentDate')}" th:errors="*{paymentDate}" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="ords">Заказ:</label>
        <select id="ords" name="ords.id" class="form-control" th:field="*{ord.id}" required>
            <option th:each="ord : ${ords}" th:value="${ord.id}" th:text="${ord.id}"></option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>

<a href="/payment" class="btn btn-danger">Вернуться к списку платежей</a>
</body>
</html>
