<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список платежей</title>
    <!-- Подключаем стили Bootstrap (подставьте актуальные ссылки на файлы Bootstrap) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .table {
            margin-bottom: 20px;
        }

        .btn {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<h1>Список платежей</h1>

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Сумма</th>
        <th scope="col">Дата платежа</th>
        <th scope="col">Статус заказа</th>
        <th scope="col">Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="payment : ${payments}">
        <th scope="row" th:text="${payment.id}"></th>
        <td th:text="${payment.amount}"></td>
        <td th:text="${payment.paymentDate}"></td>
        <td th:text="${payment.ord.status}"></td>
        <td>
            <a th:href="@{/payment/edit/{id}(id=${payment.id})}">Редактировать</a>
            <a th:href="@{/payment/delete/{id}(id=${payment.id})}">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>

<a href="/payment/add" class="btn btn-primary">Добавить платеж</a>
<a href="/" class="btn btn-danger">Вернуться на домашнюю страницу</a>
</body>
</html>
