<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление заказа</title>
    <!-- Подключаем стили Bootstrap (подставьте актуальные ссылки на файлы Bootstrap) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .btn {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<h1>Добавление заказа</h1>
<form th:action="@{/ord/add}" method="post" th:object="${order}">
    <div class="form-group">
        <label for="ordDate">Дата заказа:</label>
        <input type="date" id="ordDate" name="ordDate" th:field="*{ordDate}" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="status">Статус:</label>
        <input type="text" id="status" name="status" th:field="*{status}" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="carts">Корзина:</label>
        <select id="carts" name="carts.id" th:field="*{cart.id}" class="form-control" required>
            <option th:each="cart : ${carts}" th:value="${cart.id}" th:text="${cart.name}"></option>
        </select>
    </div>
    <div class="form-group">
        <label for="addresses">Адрес:</label>
        <select id="addresses" name="addresses.id" th:field="*{address.id}" class="form-control" required>
            <option th:each="address : ${addresses}" th:value="${address.id}" th:text="${address.street}"></option>
        </select>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>
<a href="/ord" class="btn btn-danger">Вернуться к списку заказов</a>
</body>
</html>
