<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список заказов</title>
    <!-- Подключаем стили Bootstrap (подставьте актуальные ссылки на файлы Bootstrap) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .table {
            margin-bottom: 20px;
        }

        .btn {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<h1>Список заказов</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Дата заказа</th>
        <th scope="col">Статус</th>
        <th scope="col">Корзина</th>
        <th scope="col">Адрес</th>
        <th scope="col">Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <th scope="row" th:text="${order.id}"></th>
        <td th:text="${order.ordDate}"></td>
        <td th:text="${order.status}"></td>
        <td th:text="${order.cart.name}"></td>
        <td th:text="${order.address.street}"></td>
        <td>
            <a th:href="@{/ord/edit/{id}(id=${order.id})}" class="btn btn-primary">Редактировать</a>
            <a th:href="@{/ord/delete/{id}(id=${order.id})}" class="btn btn-danger">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/ord/add" class="btn btn-primary">Добавить заказ</a>
<a href="/" class="btn btn-danger">Вернуться на домашнюю страницу</a>
</body>
</html>
